<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <h1>Flight Details</h1>

<ul>

    <li>City :: <%= flights.airline %> </li> <br>
    <li>Airline :: <%= flights.flightNum %></li> <br>
    <li>Flight Number :: <%= flights.airport %></li> <br>

    <li>Departure Time :: <%= flights.departs.toDateString() %></li> <br>

    <li>New Destination :: </li>

    <% if(flights.destination != 0) { %>
        <% flights.destination.forEach(function(s) { %>
            <li><%= s.airport %></li>
            <li><%= s.arrival.toDateString() %></li>
        <% }); %>
    <% }; %>

</ul>

    <form action="/flights/<%=flights._id %>/details" method="POST">

    <h3>Add Destination for Flight</h3>
    <select name="airport">

            <option value="AUS">Austin, TX</option>
            <option value="DAL">Dallas, TX</option>
            <option value="LAX">Los Angeles, CA</option>
            <option value="SAN">San Diego, CA</option>
            <option value="SEA">Seattle, WA</option>

    </select>

    <input type="date" name="arrival"></input>
    <button type='submit'>Submit Arrival</button>

    </form>

    <a href="/flights/<%= flights._id %>/tickets/new">Buy Ticket</a>


</body>
</html>